body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #2d9ee0, #55d6f2); /* Gradient background */
    margin: 0;
    padding-top: 50%;
    box-sizing: border-box;
}
.container-form {
    max-width: 600px; /* Set the maximum width of the form container */
    margin: auto; /* Center the container */
    padding: 20px; /* Add some padding for better visual */
    background-color: #fff; /* Set a background color */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}
#error {
    color: #ff5555; /* Bright red color */
    font-weight: bold;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: slideInDown 0.5s ease;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9); /* Slightly transparent white background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    animation: fadeIn 0.5s ease;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input,
textarea,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input::placeholder,
textarea::placeholder {
    color: #999;
}

button {
    background-color: #4c9daf;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1bd5ff;
}

a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

a:hover {
    color: #4c9daf;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ddd;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}