<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facture</title>
    <link rel="stylesheet" href="op.css">
</head>
<body>
    <svg viewBox="0 0 500 200">
        <path d="M 0,100 C 150,200 350,0 500,100 L 500,00 L 0,0"></path>
      </svg>
    <div class="header-container">
        <h1>INVOICE</h1>
        
    </div>
    <div >
        <p class="date-container">Date Facture: <?= isset($date_facture) ? $date_facture : ''; ?></p>
    </div>
   
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Montant</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><?= isset($id_facture) ? $id_facture : ''; ?></td>
                <td><?= isset($descreption) ? $descreption : ''; ?></td>
                <td><?= isset($montant) ? $montant : ''; ?></td>
            </tr>
            <!-- Add more rows if needed -->
        </tbody>
        
    </table>
   
    <!-- Embed QR code image using PHP -->
    <?php if (isset($qr_code_data)) : ?>
        <img src="data:image/png;base64,<?= $qr_code_data; ?>" alt="QR Code">
    <?php endif; ?>

    <footer>
        thank you for your visit !
    </footer>
    
</body>
</html>
